header{
   
    grid-column: span 12;
    
     h1{
             text-align: center;
     }
      ul{
        display: flex;
       list-style: none;
       justify-content: center;
        
      }
      li{
        padding: 10px 10px;
      }
      a{
        color: black;
        text-decoration: none;
      }
      a:hover{
        color: white;
        background-color: black;
        padding: 10px 5px;
      }
}
.divNav{
    text-align: center;
    background-color:#E9DAC1 ;
  
   }
.headerResponsive{
  
  display: none;
  position: fixed;
  grid-column: span 12;
  width: 89.5%;
  margin-top: -20px;
  z-index: 1;
}





@mixin media {
  @media screen and (max-width: 750px) {
  display: none;
 
  }
     
}
.header{
 @include media()
 

 
}

@mixin reponsive {
  @media screen and (max-width: 750px) {
    background-color:#E9DAC1; 
  display: flex;
  justify-content: space-around;
  grid-column: span 12;
  
 
}
     
  }
  .headerResponsive{
    @include reponsive()
  }

  .seccion{
    margin-top: 40px;
  }

