#lospoemas{
    padding-top: 40px;
    grid-column: 2/ span 11;
    display: grid;
    gap: 20px 10px;
    grid-template-columns: repeat(12, auto);
}
.texto{
    background-color: antiquewhite;
    position: relative;
    border: 2px solid;
    grid-column: span 4;
    h3{
        padding: 10px;
    }p{
        padding: 10px;
    }
}

@mixin media {
    @media screen and (max-width: 750px) {
       grid-column: span 6;
       
    }
       
}
.texto{
   @include media()
   
}


@mixin media {
    @media screen and (max-width: 480px) {
        display: grid;
       grid-column: span 12;
       
    }
       
}
.texto{
   @include media()
   
}

