<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-eq uiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@200;400;600&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- CSS only -->

</head>
<body class="body">
    <header>
       <div class="logo">
        <h1>Eterna Fonte</h1>
       </div>
       <div class="divNav">
        <nav>
           <ul>
            <li><a href="#fuenteEterna">Inicio</a></li>
            <li><a href="#lospoemas" >Los poemas</a></li>
            <li><a href="#videos">Poemas hecho canción</a></li>
            <li><a href="#acordes">Acordes</a></li>
           </ul>
        </nav>
       </div>
    </header>
  <section class="seccion">  
    <article id="fuenteEterna">
        <h2>Fuente Eterna</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis veritatis corporis explicabo accusamus dignissimos aperiam a aut velit quos voluptas ea, saepe enim nihil, laborum quibusdam! Amet neque inventore praesentium?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nemo quae repudiandae minima magni sint, nam neque voluptatum exercitationem id rerum eaque aliquid placeat velit officia. Animi expedita perspiciatis voluptatibus!
        </p>
    </article>
    <article id="lospoemas">
      <h2>
          Los poemas
      </h2>

          <div class="texto">
            <h3>Vuestra soy, para Vos nací</h3>
            <p>
              Alma ¿que haces aquí?
              Dios mio, no mas que verte.
              ¿y que mas tenes de mi?
              Lo que mas temo es perderte.
            </p>
            <p>
              Veis aquí mi corazón,
              pues lo pongo en vuestra palma,
              mi cuerpo, mi vida y alma,
              mi sangre de redención.
            </p>
            <p>
              si queréis dadme oración,
              si no dadme sequedad.
              Infundo en ti devoción,
              tambien esterilidad.
            </p>
            <p>
              Soberana Majestad,
              solo vos en mi vivir.
              quiero vivir en Ti.
            </p>
            <p>
              Te di calvario y tabor,
              desierto y tierra abundante.
              Te di a Job en el dolor y 
              Juan que al pecho reposa
              a mi Madre Dolorosa
            </p>
            <p>
              Alma ¿que haces aquí?
              Pensar en Ti y en lo eterno.
              ¿ y que mas quieres de mi?
              Morir de amor y en silencio
            </p>
          </div>
          <div class="texto">
            <h3>Castillo interior</h3>
            <p>
              El alma es de cristal,
castillo luminoso,
perla oriental.
Palacio real,
con inmensas moradas
donde morar.
Centro y mitad,
está en medio del alma,
la principal.
            </p>
            <p>
              En ella pasan
las cosas más secretas
de Dios y el alma
            </p>
            <p>
              Es de cristal, castillo luminoso, perla oriental.
              Siempre obligada
la oración es la puerta
de las moradas.
            </p>
            <p>
              En ella habita
el Rey que da a la esposa
vida infinita.

            </p>
            <p>
              Es de cristal, castillo luminoso, perla oriental.

Hay una fuente
y el árbol de la vida
y Dios viviente.
            </p>
          </div>
         
     
          <div class="texto">
            <h3>Un pastorcico</h3>
            <p>
              Un pastorcico solo está penado
ageno de plazer y de contento
y en su pastora puesto el pensamiento
y el pecho del amor muy lastimado.
            </p>
            <p>
              No llora por haberle amor llagado
que no le pena verse así afligido
aunque en el corazón está herido
mas llora por pensar que está olvidado.
            </p>
            <p>
              Que sólo de pensar que está olvidado
de su bella pastora con gran pena
se deja maltratar en tierra ajena
el pecho del amor mui lastimado
            </p>
            <p>
              Y dice el pastorcito: ¡Ay desdichado
de aquel que de mi amor a hecho ausencia
y no quiere gozar la mi presencia
y el pecho por su amor muy lastimado!
            </p>
            <p>
              Y a cavo de un gran rato se a encumbrado
sobre un árbol do abrió sus brazos bellos
y muerto se a quedado asido dellos
el pecho del amor muy lastimado.
            </p>
          </div>
          <div class="texto">
            <H3>Cantico espiritual</H3>
            <p>¿Adónde te escondiste,
              Amado, y me dejaste con gemido?
              Como el ciervo huiste
              habiéndome herido;
              salí tras Ti, clamando, y eras ido.</p>
              <p>¡Oh bosques y espesuras,
                  plantadas por la mano del Amado!,
                  ¡oh prado de verduras,
                  de flores esmaltado!,
                  decid si por vosotros ha pasado.</p>
              <p>Mil gracias derramando
                      pasó por estos sotos con presura;
                      y, yéndolos mirando,
                      con sola su figura
                      vestidos los dejó de hermosura.</p>
              <p>
                  Mi Amado las montañas,
                  los valles solitarios nemorosos,
                  las ínsulas extrañas,
                  los ríos sonorosos,
                  el silbo de los aires amorosos.
              </p>
              <p>
                  La noche sosegada
                  en par de los levantes de la aurora,
                  la música callada,
                  la soledad sonora,
                  la cena que recrea y enamora.
              </p>
              <p> Gozémonos, Amado,
              y vámonos a ver en tu hermosura
              al monte y al collado,
              do mana el agua pura;
              entremos más adentro en la espesura.
          </p>
          </div>
          <div class="texto">
              <h3>Llama de amor viva</h3>
              
              <p> ¡Oh llama de amor viva,
              Que tiernamente hieres
              De mi alma en el mas profundo centro!
              Pues ya no eres esquiva,
              Acaba ya si quieres,
              ¡rompe la tela de este dulce encuentro!</p>
             
              <p>¡Oh cautiverio suave!
              ¡Oh regalada llama!
              ¡Oh, mano blanda!,¡ Oh toque delicado,
              Que a vida eterna sabe,
              Y toda deuda paga!
              Matando, muerte en vida la has trocado.</p>
              
              <p> ¡Oh lámparas de fuego
              En cuyos resplandores
              Las profundas cavernas del sentido,
              Que estaba oscuro y ciego, 
              Con extraños primores
              Calor y luz dan junto a su Querido!</p>
             
              <p> ¡Oh manso y amorosa
              Recuerdas en mi seno,
              Donde secretamente solo moras.
              Y en tu aspirar sabroso,
              De bien y gloria lleno,
              Cuan delicadamente me enamoras!</p>
             
              
          </div>
      
          <div class="texto">            
              <h3>Eleva el pensamiento</h3>
                <P>Eleva el pensamiento, al cielo sube, 
Por nada te acongojes,
Nada te turbe.</P>
                <p>A Jesucristo sigue con pecho grande, 
Y venga lo que venga
Nada te espante.</p>
                <p>Ves la gloria del mundo, es gloria vana,
Nada tiene de estable, 
Todo se pasa.</p>
               <p>Aspira a lo celeste, que siempre dura,
Fiel y rico en promesas,
Dios no se muda.</p>
               <p>Nada te turbe, nada te espante,
Todo se pasa, Dios no se muda.</p>
              <p>La paciencia todo lo alcanza, 
Quien a Dios tiene, nada le falta.
Solo Dios basta.
</p>
          </div> 
          <div class="texto">
            <h3>Noche oscura</h3>
            <p>
              En una noche oscura,
con ansias en amores inflamada
¡oh dichosa ventura!
salí sin ser notada,
estando ya mi casa sosegada.
            </p>
            <p>
              A oscuras y segura,
por la secreta escala, disfrazada,
¡oh dichosa ventura!
a oscuras y en celada,
estando ya mi casa sosegada. 
            </p>
            <p>
              ¡Oh noche, que guiaste!
¡Oh noche amable más que la alborada!
¡Oh noche que juntaste
Amado con amada
amada en el Amado transformada!
            </p>
            <p>
              Aquella noche dichosa,
en secreto, que nadie me veía,
ni yo miraba cosa alguna,
sin otra luz y guía
sino la que en el corazón ardía.
            </p>
            <p>
              Aquella luz que me guiaba
era más cierta que la luz del mediodía
a donde me esperaba
quien yo bien me sabía,
en parte donde nadie parecía. 
            </p>
            <p>
              Y en mi pecho florido,
              que entero para él solo se guardaba,
              allí quedó dormido,
              y yo le regalaba,
              y el ventalle de cedros aire daba.
            </p>
            <p>
              El aire de la almena,
cuando yo sus cabellos esparcía,
con su mano serena
en mi cuello hería,
y todos mis sentidos suspendía. 
            </p>
            <p>
              y me quedé y me olvide,
y mi rostro recliné sobre el Amado;
todo cesó, y me entregue,
dejando mi cuidado
entre las azucenas olvidado.
            </p>
          </div>  
           <div class="texto">
            <h3>Romance de la Encarnación</h3>
            <p>
              Ya que el tiempo era llegado
              en que hacerse convenía
              el rescate de la esposa,
              que en duro yugo servía
              debajo de aquella ley
              que Moisés dado le había,
              el Padre con amor tierno
              de esta manera decía:
            </p>
            <p>
              Ya ves, Hijo, que a tu esposa
a tu imagen hecho había,
y en lo que a ti se parece
contigo bien convenía;
pero difiere en la carne
que en tu simple ser no había.
En los amores perfectos
esta ley se requería:
que se haga semejante
el amante a quien quería;
que la mayor semejanza
más deleite contenía;
El cual, sin duda, en tu esposa
grandemente crecería
si te viere semejante
en la carne que tenía.
            </p>
            <p>
              Mi voluntad es la tuya
justicia y sabiduría,
y la gloria que yo tengo
es tu voluntad ser mía.
Iré a buscar a mi esposa,
y sobre mí tomaría
sus fatigas y trabajos,
en que tanto padecía;
y porque ella vida tenga,
yo por ella moriría,
y sacándola del lago
a ti te la volvería.
            </p>
            <p>
              Entonces llamó a un arcángel
que san Gabriel se decía,
y enviólo a una doncella
que se llamaba María,
de cuyo consentimiento
el misterio se hacía;
en la cual la Trinidad
de carne al Verbo vestía;
y, aunque tres hacen la obra,
en el uno se hacía;
y quedó el Verbo encarnado
en el vientre de María.
            </p>
            <p>
              Y el que tenia solo Padre,
ya también Madre tenía,
aunque no como cualquiera
que de varón concebía,
que de las entrañas de ella
él su carne recibía
por lo cual Hijo de Dios
y del hombre se decía.
Y quedó el Verbo encarnado
en el vientre de María.
            </p>
          </div>    <div class="texto">
              <h3>Vivo sin vivir en Mi </h3>
              <p>Vivo sin vivir en mi
                  Vivo sin vivir en mi, 
                  Y de tal manera espero,
                  Que muero porque no muero.</p>
                                  <p>En mi yo no vivo mas,
                  Y sin Dios vivir no puedo;
                  Pues sin El y sin mi quedo,
                  Este vivir ¿Qué será?.
                  Mil muertes se me hara,
                  Pues mi misma vida espero,
                  Muriendo porque no muero.</p>
                                  <p>Esta vida que yo vivo
                  Es privación de vivir;
                  Y así, es continuo morir
                  Hasta que viva contigo.
                  Oye mi Dios lo que digo:
                  Que esta vida no la quiero,
                  Que muero porque no muero.</p>
                                  <p>Estando ausente de ti
                  ¿Qué vida puedo tener,
                  Sino muerte padecer
                  La mayor que nunca vi?
                  Lastima tengo de mi,
                  Pues de suerte persevero,
                  Que muero porque no muero.</p>
                                  <p>El pez que del agua sale,
                  Aun de alivio no carece,
                  Que en la muerte que padece
                  Al fin la muerte le vale
                  ¿Qué muerte habrá que se iguale
                  A mi vivir lastimero,
                  Pues si mas vivo mas muero?</p>
                                  <p>Cuando me pienso aliviar
                  De verte en el sacramento,
                  Haceme mas sentimiento
                  El no te poder gozar.
                  Todo es para más penar
                  Por no verte como quiero,
                  Y muero porque no muero.</p>  
                                  <p>Y si me gozo, Señor,
                  Con esperanza de verte,
                  En ver que puedo perderte
                  Se me dobla mi dolor,
                  Viviendo en tanto pavor
                  Y esperando como espero,
                  Muerome porque no muero.</p>
                                  <p>Sácame de aquesta muerte
                  Mi Dios y dame la vida,
                  No me tengas impedida
                  En este lazo tan fuerte;
                  Mira que peno por verte,
                  Y mi mal es tan entero
                  Que muero porque no muero.</p>
                                  <p>Llorare mi muerte ya
                  Y lamentare mi vida,
                  En tanto que detenida
                  Por mis pecados esta.
                  ¡Oh mi Dios, ¿Cuándo será
                  Cuando yo diga de vero:
                  Vivo ya porque no muero?</p>
           </div>
     
  </article>

    <article id="videos">
        <h2>Poemas hecho canción</h2>
      <div class="videos uno">
        <span class="span">La Encarnacion</span>
        <video src="../public/videoAudio/la encarnacion.mp4" controls>La Encarnación</video>
        <button><a href="../public/videoAudio/01 LA ENCARNACIÓN.mp3" download="La Encarnación"> Descargar MP3</a></button>
        <button><a href="../public/videoAudio/la encarnacion.mp4" download="La Encarnación video">Descargar video</a></button>
    </div>
      <div class="videos dos">
        <span class="span">Un Pastorcico</span>
        <video src="../public/videoAudio/Un pastorcito.mp4" controls>Un Pastorcico</video>
        <button><a href="../public/videoAudio/02 UN PASTORCITO.mp3" download="Un Pastorcico"> Descargar MP3</a></button>
        <button><a href="../public/videoAudio/Un pastorcito.mp4" download="Un Pastorcico">Descargar video</a></button>
    </div>
      <div class="videos tres ">
        <span class="span">Noche Oscura</span>
        <video src="../public/videoAudio/Noche Oscura.mp4" controls>Noche oscura</video>
        <button><a href="../public/videoAudio/04 NOCHE OSCURA.mp3" download="Noche oscura"> Descargar MP3</a></button>
        <button><a href="../public/videoAudio/Noche Oscura.mp4" download="Noche oscura">Descargar video</a></button>
    </div>
     <div class="videos cuatro ">
        <span class="span">Vuestra soy, para Vos nací</span>
        <video src="../public/videoAudio/Vuestra soy, para Vos naci.mp4" controls>Vuestra soy, para Vos nací</video>
        <button><a href="../public/videoAudio/03 VUESTRA SOY, PARA VOS NACI.mp3" download=" Vuestra soy, para Vos nací"> Descargar MP3</a></button>
        <button><a href="../public/videoAudio/eterna fonte.mp4" download=" Vuestra soy, para Vos nací">Descargar video</a></button>
    </div>
      <div class="videos cinco">
        <span class="span">Cantico Espiritual</span>
        <video src="../public/videoAudio/cantico espiritual.mp4" controls>Cantico Espiritual</video>
        <button><a href="../public/videoAudio/06 CATICO ESPIRITUAL.mp3" download="Cantico Espiritual"> Descargar MP3</a></button>
        <button><a href="../public/videoAudio/cantico espiritual.mp4" download="Cantico Espiritual">Descargar video</a></button>
    </div >
      <div class="videos seis">
        <span class="span">Vivo sin vivir en Mi</span>
        <video src="../public/videoAudio/vivo sin vivir.mp4" controls>Vivo sin vivir en Mi</video>
        <button><a href="../public/videoAudio/07 VIVO SIN VIVIR EN MI.mp3" download="Vivo sin vivir en Mi"> Descargar MP3</a></button>
        <button><a href="../public/videoAudio/vivo sin vivir.mp4" download="Vivo sin vivir en Mi">Descargar video</a></button>
    </div>
      <div class="videos siete">
        <span class="span">Castillo interior</span>
        <video src="../public/videoAudio/castillo interior.mp4"  controls>Castillo interior</video>
        <button><a href="../public/videoAudio/08 CATILLO INTERIOR.mp3" download="Castillo interior"> Descargar MP3</a></button>
        <button><a href="../public/videoAudio/castillo interior.mp4" download="llama de amor vivo">Descargar video</a></button>
    </div>
      <div class="videos ocho ">
        <span class="span">Llama de amor viva</span>
        <video src="../public/videoAudio/llama de amor viva.mp4" controls></video>
        <button><a href="../public/videoAudio/09 LLAMA DE AMOR VIVA..mp3" download=""> Descargar MP3</a></button>
        <button><a href="../public/videoAudio/llama de amor viva.mp4" download="">descargar video</a></button>
    </div>
    <div class="videos nueve">
      <span class="span">Eleva el pensamiento</span>
      <video src="../public/videoAudio/Eleva el pensamiento.mp4" controls></video>
      <button><a href="../public/videoAudio/05 Eleva el pensamiento.mp3" download="Eleva el pensamiento"> Descargar MP3</a></button>
      <button><a href="../public/videoAudio/Eleva el pensamiento.mp4" download="">descargar video</a></button>
  </div>
    </article>
</section>  
  
</body>
</html>